<% provide(:title, 'ManPts: Sign in') %>
<div id="skiptomain"><a href="#maincontent">skip to main content</a></div>

<div id="wrapper">
	<div id="headcontainer">
		<div class="section group">
			<%= render 'shared/left_title' %>
			<div class="col span_3_of_6">
				<div id="login">
					<% flash.each do |key, value | %>
 		 			<div class = "alert alert-<%= key %> invalidLogin">
   		 			<h3><%= value %></h3>
   		 		</div>
  				<% end %>
					<%= render 'login' %>
				</div>
			</div>
		</div>
	</div>
</div>