<!DOCTYPE html>
<head>
	<%= render 'shared/header' %>

</head>

<div class="header"> 
	<%= link_to "Sign out", signout_path, method: "delete" %> 
</div>

<p>Welcome <%= @user.email %>! </p>

<%= render 'shared/footer' %>