
<div class="col span_3_of_6">
    <header>
        <h1 class="right_align"><%= link_to image_tag('name.png'), root_url %></h1>
        <h3 class="right_align">Think you deserve ManPts?</h3>
        <h3 class="right_align">Let your friends be the judges, and get real rewards.</h3>
    </header>
</div>