<div class="col span_2_of_6 left_nav">
	<div class="left_nav_item">
		<h2><span class="bold"><%= link_to "My", @activity %></span> Pts </h2>
	</div>

	<div class="left_nav_item">
		<h2> <span class="bold">Give</span> Pts </h2>
	</div>

	<div class="left_nav_item">
		<h2><span class="bold"><%= link_to "Get", new_activity_path %></span> Pts </h2>
	</div>
</div>