<% provide(:title, 'Welcome') %>
<div class="header"> 
	<%= render 'shared/top_nav' %>
</div>

<div class = "main_content">
	<%= render 'shared/left_nav' %>
	<div class="col span_4_of_6 right_content">
		<div class="rate_activities">
			<h3> Rate Activities!</h3>
			<% if @activities.any? %>
			<%= render partial: 'activity', locals: { activity: @activity } %>
			<% else %>
			<p class="empty"> Great job! You've rated all other users' activities! Wait a few minutes while we let the other users catch up! </p>
			<% end %>
		</div>
	</div>
</div>

<%= render 'shared/footer' %>