#signup {
    clear: both;
    width: 80%; /* 1000px / 1250px */
    font-size: 0.6125em; /* 13 / 16 */
    max-width: 92.3em; /* 1200px / 13 */
    margin: 0 auto;
    padding: 130px 0px 10px 0px;
    position: relative;
    color: #000;
}
#login {
    clear: both;
    width: 80%; /* 1000px / 1250px */
    font-size: 0.6125em; /* 13 / 16 */
    max-width: 92.3em; /* 1200px / 13 */
    margin: 0 auto;
    padding: 130px 0px 10px 0px;
    position: relative;
    color: #000;
}

.right_align{
    text-align:right;
    }

.left_align{
    text-align:left;
    padding-left:3%;
}

.red {
    color: red;
}

.header {
    padding-top:1%;
    width:100%;
    height: 30px;
    background: #222 url(/images/footerback.png) left top;
    text-align: right;
    color: #ccc;
}

input:not([type=submit]):not([type=file]) {
    border: 5px solid white; 
    width: 50%;
    font-size: 2em;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 8px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

/*Buttons*/
.mybutton {
    
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
    margin: 0 auto;
    box-shadow: 0px 10px 14px -7px #3e7327;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    
    background-color:#77b55a;
    
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    
    border:1px solid #4b8f29;
    
    display:inline-block;
    color:#ffffff;
    font-family: Courier New;
    font-size:18px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #5b8a3c;
    
}
.mybutton:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    
    background-color:#72b352;
}
.mybutton:active {
    position:relative;
    top:1px;
}
a.mybutton:visited{
    color:black;
}

#submit {
    width: 50%;
}

/* Inner content */
.main_content {
    background-color: white;
}

ul.top_nav li {
    float:right;
    list-style-type: none;
    padding-right: 2%;
    height: 22px;
}

ul.top_nav li a {
    height: 22px;
}

.left_nav {
    background-color: white;
}

.left_nav_item h2 {
    color: #C0C0C0;
    text-align: right;
}

.left_nav_item {
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.get_points {
    position: relative;
    padding-top: 15px;
    padding-left: 5%;
    text-align: left;
    background-color:white;
    width: 100%;
}

.get_points input[type=text] {
    color: gray;
    font-size: 16px;
    font-style: italic;
    padding-right: 0px;
}

.my_activities {
    position: relative;
    padding: 15px;
    text-align: left;
    background-color:white;
    width: 100%;
}

.rate_activities {
    position: relative;
    padding: 15px;
    text-align: left;
    background-color:white;
    width: 100%;
}

form.new_rating {
    
}

li.activity {
    color:black;
    display: block;
    padding-bottom: 1%;
}

.timestamp {
    color: #C0C0C0;
    font-size: 12px;
}


.right_content {
    color: white;
}

.bold {
    font-weight: bolder;
    color:black;
}

.alert-success {
    background-color: #73fb76;
}
































