<%= form_for @activity do |f| %>

<p><%= f.text_field :content, :placeholder =>"What did you do to deserve ManPts?", :id => 'activity_submit' %></p>

<%= f.submit "Submit my Activity", class: "mybutton" %>
<% end %>