<% provide(:title, 'Welcome') %>
<div class="header"> 
	<%= render 'shared/top_nav' %>
</div>

<div class = "main_content">
	<%= render 'shared/left_nav' %>
	<div class="col span_4_of_6 right_content">
	<div class="get_points">
		<%= render 'create_activity' %>
	</div>
</div>
</div>

<%= render 'shared/mini_footer' %> 